.button {
	width: 120px;
	margin: 20px auto;
	text-align: center;
	border-radius: 5px;
	background-color: #66CC55;
	cursor: pointer;
	transition: all 0.4s ease;
	font-weight: bold;
	color: #225533;
}

.button:hover {
	color: #FFFFFF;
	background-color: #44AAFF;
}

.button div {
	padding: 20px;
	margin: 0px auto;
}
